.singleCommentContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 15px 10px 15px;
}

.singleCommentContainer img:first-of-type {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.uniqueComment {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.theComment {
  padding: 15px;
  background: #f2f3f5;
  border-radius: 20px;
  font-size: 0.8em;
  color: #1c1e21;
  margin-bottom: 5px;
  line-height: 1.2em;
}

.theComment a {
  font-weight: bold;
  font-size: 1em;
  color: #385898;
  white-space: nowrap;
  text-decoration: none;
}

.commentActions {
  font-size: 0.8em;
  padding-left: 15px;
}

.commentActions span {
  color: #5d708f;
}

.commentActions a {
  text-decoration: none;
  color: #385898;
}

.commentActions a:after {
  content: "•";
  color: #5d708f;
  font-size: 0.3em;
  margin-top: -5px;
  padding-right: 7px;
  padding-left: 7px;
}
