@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.css';

.nav {
  display: flex;
  background: #4267b2;
  width: 100%;
  height: 45px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.firstcolumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.githubURL {
  color: #fff;
  padding-left: 12.5%;
}

a.githubURL .logo {
  font-size: 30px;
  display: inline-block;
}

.searchfield {
  display: flex;
}

.iconsearch {
  display: flex;
  background: #f5f6f7;
  align-items: center;
  justify-content: center;
  width: 55px;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
  transition: 0.4s;
}

.search {
  margin-left: 10px;
  height: 20px;
  width: 400px;
  border: 0;
  padding: 3px 5px;
  border-radius: 3px 0px 0px 3px;
}

.iconsearch:hover {
  background: #ebedf0;
  transition: 0.4s;
}

.fas.fa-search {
  color: #636363;
  font-size: 13px;
}

.perfil {
  display: flex;
  cursor: pointer;
}

.profileImage {
  width: 25px;
  border-radius: 30px;
}

.text-nav {
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.notifications {
  display: flex;
  padding-right: 20%;
  font-weight: bold;
  font-size: 12px;
}

.topicon {
  color: #1a2847;
  font-size: 18px;
  margin: 3px 0px 0px 20px;
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.badge {
  background: red;
  width: 14px;
  height: 16px;
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  top: 7px;
  margin-left: -5px;
}

.badge-icon {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 3px;
}

.border-right-nav {
  padding-right: 10px;
  border-right: 1px solid #1a28472b;
}

.fas.fa-sort-down {
  margin-top: 0px;
}
